*{
    padding: 0;
    margin: 0;
}
#hero{
    height: 50vh;
    background-image: url("https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    background-position: center;
}
body{
    background-color: #ededed;
}

.box{
    border: none;
}
.box:focus{
    outline: none;
}
.wrong{
    height: 20vh;
    background-image: url("https://images.pexels.com/photos/887751/pexels-photo-887751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover ;
}
#contact{
    height: 40vh;
    background-color: #16a085;
    color: white;
}
#hero2{
    height: 50vh;
    background-image: url("https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size:cover;
    background-position: center;
}


@media screen and (max-width:425px){
    #hero2{
        height: 100%;
    }
}
